<%@ include file="../../common/header_top.jsp" %>

<title>Add User</title>

<%@ include file="../../common/header_bottom.jsp" %>

        <spring:url value="/admin/user/new" var="submitUrl" />
        <form:form method="POST" modelAttribute="userForm" action="${submitUrl}">

          <!-- Table -->
          <table class="table">
            <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Locale</th>
              <th>Password</th>

            </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <form:input path="username" type="text" class="form-control"
                    id="username" placeholder="Username" />
                </td>
                <td>
                  <form:input path="firstName" type="text" class="form-control"
                    id="firstName" placeholder="Fisrt Name" />
                </td>
                <td>
                  <form:input path="lastName" type="text" class="form-control"
                    id="lastName" placeholder="Last Name"/>
                </td>
                <td>
                  <form:input path="locale" type="text" class="form-control"
                    id="locale" placeholder="Locale"/>
                </td>
                <td>
                  <form:input path="password" type="password" class="form-control"
                    id="password" placeholder="Password"/>
                </td>
                <td>
                  <form:select path="roles" multiple="multiple" class="form-control">
                    <form:option value="" label="--- Select ---"/>
                    <form:options items="${roles}"/>
                  </form:select>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                    <input type="submit" value="Submit" class="btn" />
                </td>
              </tr>
            </tbody>
          </table>
        </form:form>
<%@ include file="../../common/footer.jsp" %>