<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head th:fragment="head">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="../../resources/core/css/navbar-fixed-top.css" rel="stylesheet"
      th:href="@{/resources/core/css/navbar-fixed-top.css}" />
    <link href="../../resources/core/css/bootstrap.min.css" rel="stylesheet"
      th:href="@{/resources/core/css/bootstrap.min.css}"/>
    <link href="../../resources/core/css/jquery-ui.css" rel="stylesheet"
      th:href="@{/resources/core/css/jquery-ui.css}"/>
    <link href="../../resources/core/css/ct-navbar.css" rel="stylesheet"
      th:href="@{/resources/core/css/ct-navbar.css}"/>
    <link href="../../resources/core/css/pe-icon-7-stroke.css" rel="stylesheet"
      th:href="@{/resources/core/css/pe-icon-7-stroke.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"
      th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js}"></script>
    <script src="../../resources/core/js/bootstrap.min.js"
      th:src="@{/resources/core/js/bootstrap.min.js}"></script>
    <script src="../../resources/core/js/jquery-ui.js"
      th:src="@{/resources/core/js/jquery-ui.js}"></script>
    <script src="../../resources/core/js/ct-navbar.js"
      th:src="@{/resources/core/js/ct-navbar.js}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
    li.navbar-nav > a:hover, li.navbar-nav > a:focus {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        color: #ffffff;
        opacity: 1;
    }
    </style>

  </head>
  <body>
    <!-- Fixed navbar -->
    <nav th:fragment="nav-bar" class="navbar navbar-ct-green navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <sec:authorize access="isAuthenticated()">
          <ul class="nav navbar-nav">
            <li>
              <a href="#" th:href="@{/dashboard}">
                <i class="pe-7s-timer"></i>
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="pe-7s-note2"></i><span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Collections</a></li>
                <li><a href="#">Expenses</a></li>
                <li class="divider"></li>
                <li>
                  <a href="#" th:href="@{/reports/balance_sheet}">Balance Sheet</a>
                </li>
                <li>
                  <a href="#" th:href="@{/reports/liquidation}">Liquidation Report</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="pe-7s-check"></i><span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="" th:href="@{/approval">Approvals</a>
                </li>
              </ul>
            </li>
          </ul>
          </sec:authorize>
          <sec:authorize access="isAnonymous()">
          <ul class="nav navbar-nav navbar-right">
            <li >
              <a href="#" th:href="@{/login}">Login</a>
            </li>
          </ul>
          </sec:authorize>
          <sec:authorize access="isAuthenticated()">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="pe-7s-user"></i> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#" th:href="@{/logout}">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
          </sec:authorize>
          <sec:authorize access="hasRole('ADMIN')">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="pe-7s-config"></i> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Accounts</li>
                <li>
                  <a href="#" th:href="@{/admin/user}">Users</a>
                </li>
                <li>
                  <a href="#" th:href="@{/admin/role}">Roles</a>
                </li>
                <li>
                  <a href="#" th:href="@{/admin/calendar}">Calendar</a>
                </li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Locales</li>
                <li>
                  <a href="#" th:href="@{/locale_account}">Locales</a>
                </li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Finance</li>
                <li>
                  <a href="#" th:href="@{/expense_type}">Expense Types</a>
                </li>
                <li>
                  <a href="#" th:href="@{/collection_type}">Collection Types</a>
                </li>
              </ul>
            </li>
          </ul>
          </sec:authorize>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">
      <div class="jumbotron">

      </div>
      <!-- /#jumbotron -->
    </div>
    <!-- /#container-fluid -->

    <nav th:fragment="bottom-nav-bar" class="navbar navbar-ct-blue navbar-fixed-bottom" role="navigation">
      <div class="container">
          <ul class="nav nav-justified">
            <sec:authorize access="isAuthenticated()">
            <li class="navbar-nav">
              <a href="#" th:href="@{/collection}">
                <i class="pe-7s-piggy" style="color: white;"></i>
              </a>
            </li>
            <li class="navbar-nav">
              <a href="#" th:href="@{/expense}">
                <i class="pe-7s-cash" style="color: white;"></i>
              </a>
            </li>
            <li class="navbar-nav">
              <a href="#">
                <i class="pe-7s-wallet" style="color: white;"></i>
              </a>
            </li>
            </sec:authorize>
          </ul>
      </div><!-- /.container-fluid -->
    </nav>
    <!--  end navbar-bottom -->

</body>
</html>
